form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 720px;
  margin: 0 auto 100px;
  padding: 50px;
  text-align: center;
}

h1 {
  text-align: center;
  color: #1C2331;
  font-weight: 700;
  font-size: 55px;
}
  