<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark special-color-dark lighten-1" [containerInside]="true">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['home']">RC6</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" [routerLink]="['home']" mdbWavesEffect>Home</a>
      </li>

      <!-- Dropdown -->
      <li *ngIf="isLoggedIn$ | async" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          RC6 Options<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['home']">About</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['home']">Encrypt</a>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['home']">Decrypt</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['home']">None</a>
        </div>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li *ngIf="isLoggedOut$ | async" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" [routerLink]="['login']" mdbWavesEffect>Login</a>
      </li>
      <li *ngIf="isLoggedOut$ | async" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" [routerLink]="['register']" mdbWavesEffect>Register</a>
      </li>
      <li *ngIf="isLoggedIn$ | async" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" [routerLink]="['logout']" mdbWavesEffect>Logout</a>
      </li>
      <!-- <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" alt="" class="img-fluid rounded-circle z-depth-0"></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
        </div>
      </li>-->
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
