<!-- Default form register -->
<form [formGroup]="registerForm" (ngSubmit)="signUp()" class="text-center border border-light p-5">

  <p class="h4 mb-4">Sign up</p>

  <div class="form-row mb-4">
    <div class="col">
      <!-- First name -->
      <div class="md-form">
        <input formControlName="firstName" autocomplete="off" type="text" id="materialRegisterFormFirstName" class="form-control" mdbInput>
        <label for="materialRegisterFormFirstName">First name</label>
      </div>
    </div>
    <div class="col">
      <!-- Last name -->
      <div class="md-form">
        <input formControlName="lastName" autocomplete="off" type="text" id="materialRegisterFormLastName" class="form-control" mdbInput>
        <label for="materialRegisterFormLastName">Last name</label>
      </div>
    </div>
  </div>

  <!-- E-mail -->
  <div class="md-form mt-0">
    <input formControlName="email" type="email" id="materialRegisterFormEmail" class="form-control" mdbInput>
    <label for="materialRegisterFormEmail">E-mail</label>
  </div>

  <!-- Password -->
  <div class="md-form">
    <input formControlName="password" type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
      mdbInput>
    <label for="materialRegisterFormPassword">Password</label>
    <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      At least 8 characters and 1 digit
    </small>
  </div>

  <!-- Confirm Password -->
  <div class="md-form">
    <input formControlName="confirmPassword" type="password" id="materialRegisterFormConfirmPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock"
      mdbInput>
    <label for="materialRegisterFormConfirmPassword">Confirm Password</label>
  </div>

  <!-- Phone number -->
  <div class="md-form">
    <input formControlName="phoneNumber" autocomplete="off" type="text" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock"
      mdbInput>
    <label for="materialRegisterFormPhone">Phone number</label>
    <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
      Optional - for two step authentication
    </small>
  </div>

  <!-- Newsletter -->
  <div class="row">
    <div class="col-md-6 mx-auto d-flex justify-content-center">
      <mdb-checkbox formControlName="newsletter" [default]="true">Subscribe to our newsletter</mdb-checkbox>
    </div>
  </div>

  <!-- Sign up button -->
  <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>

  <!-- Social register -->
  <p>or sign up with:</p>

  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="facebook"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="twitter"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="linkedin"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="heart"></mdb-icon>
  </a>

  <hr>

  <!-- Terms of service -->
  <p>By clicking
    <em>Sign up</em> you agree to our
    <a href="" target="_blank">terms of service</a> and
    <a href="" target="_blank">terms of service</a>. </p>

</form>
<!-- Default form register -->
